section{
    border: 1px solid red;
    background-color: rgb(87, 216, 156);

}
header{
    
    height: 10vh; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    

}

    


main{
    border: 1px solid rgb(0, 0, 0); 
    height: 90vh; 
    background-color: rgb(255, 255, 255);
    display: flex;
    
}

footer{
    border: 1px solid rgb(66, 37, 37); 
    
    background-color: rgb(201, 57, 57);
    display: flex;
    
}



nav{
    border: 1px solid rgb(255, 255, 255); 
    height: 80px; 
    background-color: rgb(47, 0, 156);
    text-align: center;
    

}
.articulo1{
    border: 1px solid rgb(46, 46, 54); 
    height: 97%; 
    background-color: rgb(0, 55, 255);
    margin: 2px;
    width: 4%;
    
}
.articulo2{
    border: 1px solid rgb(59, 66, 62); 
    height:97%; 
    background-color: rgb(181, 146, 255);
    margin: 2px;
    
    width: 96%;
}
.art1{
    border: 1px solid rgb(46, 46, 54); 
    height: 150px; 
    background-color: rgb(157, 12, 12);
    margin: 10px;
    width: 600px;
    
}
.art2{
    border: 1px solid rgb(46, 46, 54); 
    height: 150px; 
    background-color: rgb(150, 9, 9);
    margin: 10px;
    width: 600px;
    
} 
.art3{
    border: 1px solid rgb(46, 46, 54); 
    height: 150px; 
    background-color: rgb(180, 7, 7);
    margin: 10px;
    width: 600px;
    
}
.art4{
    border: 1px solid rgb(46, 46, 54); 
    height: 150px; 
    background-color: rgb(213, 10, 10);
    margin: 10px;
    width: 600px;
    
}