body{
    height: 2900px;
}
section{
    border: 1px solid red;
    background-color: rgb(139, 212, 12);

}
header{
    
    height: 150px; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    

}
.section1{
    background-color: black;
    height: 610px;
    display: flex;
}



main{
    
    height: 620px; 
    background-color: rgb(255, 255, 255);
    display: flex;
    
}





.nav1{
    border: 1px solid rgb(255, 255, 255); 
    height: 80px; 
    background-color: rgb(160, 130, 232);
    text-align: center;
    

}
.nav2{
    border: 1px solid rgb(255, 255, 255); 
    height: 50px; 
    background-color: rgb(99, 170, 110);
    text-align: center;
    

}
.articulo1{
    border: 1px solid rgb(46, 46, 54); 
    height: 610px; 
    background-color: rgb(254, 179, 80);
    margin: 2px;
    width: 8000px;
    
}
.articulo2{
    
    height: 610px; 
    background-color: rgb(255, 255, 255);
    margin: 2px;
    
    width: 400px;
}



.menu1{
    display: flex;
    justify-content: space-evenly ;
}
.item{
    list-style: none;
}
.menuprincipal{
    background-color: rgb(251, 174, 174);
    height: 80px;
}
.art1{
    border: 1px solid rgb(46, 46, 54); 
    height: 580px; 
    background-color: rgb(198, 254, 155);
    margin: 10px;
    width: 600px;
    
}
.art2{
    border: 1px solid rgb(46, 46, 54); 
    height: 580px; 
    background-color: rgb(198, 254, 155);
    margin: 10px;
    width: 600px;
    
} 
.art3{
    border: 1px solid rgb(46, 46, 54); 
    height: 580px; 
    background-color: rgb(198, 254, 155);
    margin: 10px;
    width: 600px;
    
}
.art4{
    border: 1px solid rgb(46, 46, 54); 
    height: 580px; 
    background-color: rgb(198, 254, 155);
    margin: 10px;
    width: 600px;
    
}

