body{
    height: 1080px;
}
section{
    border: 1px solid red;
    background-color: rgb(87, 216, 156);

}
header{
    
    height: 10vh; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    

}
.section1{
    background-color: black;
    height: 100%;
}



main{
    
    height: 90vh; 
    background-color: rgb(255, 255, 255);
    display: flex;
    
}





nav{
    border: 1px solid rgb(255, 255, 255); 
    height: 80px; 
    background-color: rgb(244, 21, 188);
    text-align: center;
    

}
.articulo1{
    border: 1px solid rgb(46, 46, 54); 
    height: 97%; 
    background-color: rgb(174, 247, 97);
    margin: 2px;
    width: 75%;
    
}
.articulo2{
    
    height: 97%; 
    background-color: rgb(255, 255, 255);
    margin: 2px;
    
    width: 25%;
}
.art1{
    border: 1px solid rgb(46, 46, 54); 
    height: 60%; 
    background-color: rgb(245, 174, 174);
    margin: 10px;
    width: 96%;
    
}
.art2{
    border: 1px solid rgb(46, 46, 54); 
    height: 36%; 
    background-color: rgb(255, 0, 0);
    margin: 10px;
    width: 96%;
    
}

.menu1{
    display: flex;
    justify-content: space-evenly ;
}
.item{
    list-style: none;
}
    